/* RECEITAS */
.title {
    margin: 2.5em auto  1.5em;
    text-align: center;
}
.subtitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultados_wrapper {
    line-height: 2em;
    width: min(80%, 56em);
    padding-bottom: 3em;
}
table {
    width: 100%;
    border: 1px solid black;
}